{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}

 <h1> {{ projets.title }}</h1>
 <br>
 <h1> Categorie: {{projets.category.name}}</h1>
    <img src="{{ projets.images }}">
    
    {% endblock %}  
