{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}


 <h1> {{ projets.title }}</h1>
 <br>
 <h1> {{projet.category}}</h1>
    <img src="{{ projets.images }}">
    
    {% endblock %}  
