@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
  }
  
  @font-face {
    font-family: 'noto';
    src: url(../fonts/NotoSans-Regular.ttf) format("truetype");
  }
  
  body {
    font-family: 'Monserrat';
  }
  
  .bluenav {
    background-color: #2F435E !important;
    height: 50px;
  }
  
  #logo_face {
    width: 70px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #FFF;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  }
  
  #logo_face1 {
    width: 100px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #FFF;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  }
  
  a #saaa {
    height: 150px;
    width: 150px;
  }
  
  .navbar-text {
    color: #FFF !important;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 700;
  }
  
  .navbar {
    font-size: 12px;
    font-family: 'Monserrat';
  }
  
  .contain_pres {
    font-family: 'Monserrat';
    display: flex;
    height: 750px;
  }
  
  .pres_text {
    background: linear-gradient(#569CB5, #262F33);
    height: 100%;
    width: 33.33%;
    color: white;
    position: relative;
  }
  
  .pres_img {
    height: 100%;
    width: 33.33%;
    background-image: url(../images/jb.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #carousel2 {
    width: 80% !important;
    margin-right: auto;
    margin-left: auto;
  }
  
  .carousel_projet {
    width: 100%;
  }
  
  .pres_projet {
    background: linear-gradient(#569CB5, #262F33);
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }
  
  #projets_titre {
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  
  #pres_img_jb {
    height: inherit !important;
  }
  
  #nomH1 {
    color: #FFF;
    font-size: 60px;
    font-weight: 800;
  }
  
  #nomp {
    color: #FFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.3em;
  }
  
  #presentation {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0% 20% 0% 20%;
  }
  
  .container-all {
    display: flex;
    flex-direction: column;
  }
  
  #specialité1 {
    text-align: right;
  }
  
  #contain_description {
    padding: 5% 0% 0% 0%;
    font-family: 'Monserrat';
  }
  
  #projet_img {
    height: 60%;
  }
  
  #projet_description {
    height: 40%;
    border-top: 4px solid #569CB5;
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3em;
    font-family: "noto", Sans-serif !important;
    padding: 0 5% 0 5%;
  
    p {
      margin-top: 30px;
    }
  
    #logo, a {
      text-align: center;
      color: white !important;
    }
  }
  
  #tableau {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
  
  #presentation_parcours {
    display: flex;
    padding-top: 5%;
  }
  
  #titre_pres {
    font-size: 30px;
  }
  
  #parcours {
    text-align: center;
    font-family: "noto";
    font-size: 16px;
  }
  
  #span {
    border-top: 1px solid rgb(102, 102, 102);
    height: 0.1px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    opacity: 0.3;
    color: rgb(102, 102, 102);
  }
  
  #button_link {
    display: flex;
    margin-top: 0px;
    align-items: center;
    background-color: #44566C;
    border-radius: 34px 34px 0px 0px;
    margin-top: 50px;
  }
  
  #button_link1 {
    margin-left: auto;
    margin-right: auto;
  }
  
  #savoir_plus {
    background-color: #231F20 !important;
    border-color: #231F20 !important;
  }
  
  #Travail {
    width: 100%;
    display: flex;
    height: 600px;
    background-color: #2F435E;
    background-image: linear-gradient(180deg, rgba(35, 31, 32, 0.28) 50%, #231F20 100%);
    position: relative;
    font-family: "noto" !important;
  }
  
  #block_idée {
    display: flex;
    height: 100%;
  }
  
  #block {
    width: 25%;
    background-color: rgba(10, 10, 10, 0.5);
    height: 100%;
    padding: 30px 30px 30px 30px;
  }
  
  #block2 {
    width: 25%;
    background-color: rgba(10, 10, 10, 0.1);
    height: 100%;
    padding: 30px 30px 30px 30px;
  }
  
  #block3 {
    width: 25%;
    background-color: rgba(10, 10, 10, 0.5);
    height: 100%;
    padding: 30px 30px 30px 30px;
  }
  
  #block4 {
    width: 25%;
    background-color: rgba(10, 10, 10, 0.1);
    height: 100%;
    padding: 30px 30px 30px 30px;
  }
  
  #block_all {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: auto;
    color: white;
    margin-right: auto;
    position: absolute;
  
    /* top: 0; */
    /* margin-top: 100%; */
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  #text_block {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 7%;
  }
  
  #block_description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 28.8px;
    margin-top: 15%;
  }
  
  #titre_block {
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    margin: auto;
  }
  
  .far.fa-comments, .fab {
    font-size: 60px;
    margin-left: 20px;
  }
  
  #block_pres {
    height: 30%;
    display: flex;
  }
  
  .img_projet {
    width: 200px;
    height: 200px;
  }